
#headLine h1 {
    color: #8B0000;
    text-align: center;
    font-size: 75px;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 100px;
}

svg {
    display: block; 
    margin: auto;
}

#headLine div {
    background-color: white;
}

/*Home Page button*/

#HomeButt rect {
    fill: #111; 
}
#HomeButt text {
    fill: white;
    font-size: 45px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    
}

/*Query Page button*/

#QueryButt rect {
    fill: #111; 
}
#QueryButt text {
    fill: white;
    font-size: 25px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    
}

/*Buy Product button*/

#ProductButt rect {
    fill: #111; 
}
#ProductButt text {
    fill: white;
    font-size: 25px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    
}

/*Quiz button*/

#QuizButt rect {
    fill: #111; 
}
#QuizButt text {
    fill: white;
    font-size: 25px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    
}

/*Images button*/

#ImagesButt rect {
    fill: #111; 
}
#ImagesButt text {
    fill: white;
    font-size: 25px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    
}

/*Student Details button*/

#StuDetButt rect {
    fill: #111; 
}
#StuDetButt text {
    fill: white;
    font-size: 25px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    
}

/*The middle Line*/

#TheLine polyline {
    stroke:#111; 
    stroke-width:5px;
}

/*Dots*/

#Dots circle {
    fill: #8B0000;
}

/*Hover over button*/

#JSsvg g:hover rect {
    fill: rgb(48, 48, 48);
}

#JSsvg g:hover text {
    fill: white;
}

#EditorButt rect {
    fill: #111; 
}

#EditorButt text {
    fill: white;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}


/*navigation bar*/
*{
	margin:0;
	padding:0;
	font-family: 'Poppins', sans-serif;
	box-sizing:border-box;
}

body{
	background:rgb(255, 253, 253)
}

.main{
	width:1300px;
	
}


header.fixed-top{
	   position:fixed;
	   top:0;
	   left:0;
	   width:100%;
	   z-index:2;
	   background:linear-gradient(#111,rgba(0,0,0,0));
	   transition:background .5s;
}

header.scrolled{
	        background:linear-gradient(#111,rgba(0,0,0,0));
	    	background:#111;
	
}

.logo{
	float:left;
	padding-left:50px;
	animation-play-state:paused;
}

nav ul{
	list-style:none;
	float:right;
	display:flex;
	margin:0;
	padding:0;
	padding-top:14px;
}

nav ul li a{
	color:#ffff;
	text-decoration:none;
	padding:12px 40px;
	line-height:60px;
	font-size:16px;
	font-weight:bold;	
	text-transform:uppercase;
	transition:0.8s all;
}

nav ul li a:hover{
	color:black;
	background:#8B8000;
	border-radius:20px;
	transition:0.2s;
}


nav ul li a:active{
	background:#8B8000;
	color:#000000;
	border-radius:20px;
}

nav ul li a.active{
	background:#8B8000;
	color:#000000;
	border-radius:20px;
}


/*end of navigation bar*/


footer{
	position:relative;
	height:auto;
	padding:50px 100px;
	background:#111;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
    margin-top :250px;
	
}

footer .container{
	display:flex;
	justfit-content:space-between;
	flex-wrap:wrap;
	flex-direction:row;
}

footer .container .sec{
	margin-right:30px;
}

footer .container .sec.aboutus{
	width:40%;
}

footer .container h2{
	position: relative;
	color:#fff;
	font-weight:bold;
	margin-bottom:15px;
}

footer .container h2:before{
	content:'';
	position:absolute;
	bottom:-5px;
	left:0;
	width:50px;
	height:2px;
	background:#8B0000;
	
}

footer p{
	color:#999;
}

.sci{
	margin-top:20px;
	display:flex;	
}


.sci li{
	list-style:none;
}

.sci li a{
	display:inline-block;
	width:40px;
	height:40px;
	background:#222;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-right:10px;
	text-decoration:none;
	border-radius:50px;
}

.sci li a:hover{
	background:#8B0000;
}

.sci li a i{
	color:#fff;
	font-size:20px;
}

.quickLinks{
	position:relative;
	width:25%;
	margin-left:40px;
}

.quickLinks ul li{
	list-style:none;
}

.quickLinks ul li a{
	color:#999;
	text-decoration:none;
	margin-bottom:10px;
	display:inline-block;
	
}

.quickLinks ul li a:hover{
	color:#fff;
}



.contact .info{
	position:relative;
	
}

.contact .info li{
	display:flex;
	margin-bottom:16px;
}

.contact .info li span:nth-child(1){
	color:#fff;
	font-size:20px;
	margin-right:15px;
}

.contact .info li span{
	color:#999;
}

.contact .info li a{
	color:#999;
	text-decoration:none;
}

.contact .info li a:hover{
	color:#fff;
}